In [14]:
import pandas as pd

In [15]:
authors = pd.DataFrame({'author_id':[1,2,3],
                       'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns = ['author_id','author_name'])

In [16]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]},
                     
                       columns = ['author_id','book_title','price'])

In [17]:
author_price = pd.merge(authors, books, on = 'author_id', how = 'inner')

In [46]:
author_stat = author_price.groupby('author_name')['price'].aggregate(['mean', 'min', 'max'])
author_stat

                   mean  min  max
author_name
Островский   330.000000  290  370
Тургенев     366.666667  300  450
Чехов        475.000000  450  500