In [2]:
import pandas as pd
import numpy as np

In [3]:
? pd.pivot_table

In [4]:
authors = pd.DataFrame({'author_id':[1,2,3],
                       'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns = ['author_id','author_name'])

In [5]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]},
                     
                       columns = ['author_id','book_title','price'])
author_price = pd.merge(authors, books, on = 'author_id', how = 'inner')

In [6]:
s = pd.Series(['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'])

In [7]:
author_price['cover'] = s.values

In [8]:
author_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [9]:
book_info = pd.pivot_table(author_price, values='price', index=['author_name'],
                       columns=['cover'],
                       aggfunc=np.sum, fill_value=0)

In [10]:
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [13]:
book_info.to_pickle('book_info.pkl')

In [14]:
 book_info2 = pd.read_pickle('book_info.pkl')

In [15]:
 book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950